<!doctype html>
<!--
  This page is shown as the extension option page
-->

<html>
  <head>
    <title>Options</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../style/options.css">
  </head>

  <body>
    <div id="options-form">
    </div>
    <script src="../dist/options.bundle.js"></script>
  </body>
</html>
